In [327]:
import pandas as pd

In [335]:
def count_top3(list_yaer):
    dataframes = {}
    for yaer in list_yaer:
        dataframes[yaer] = pd.read_csv(f'names/yob{yaer}.txt', names=['Name', 'Gender', 'Quantity'])
    all_df = pd.concat(dataframes)
    all_df = all_df.groupby('Name').sum()[['Quantity']]
    all_df = all_df.sort_values(['Quantity'], ascending=False).head(3)
    return all_df.index.to_list()

In [337]:
count_top3([2012, 2013, 2015])

['Emma', 'Sophia', 'Noah']

In [338]:
def count_dinamics(years_list):
    dataframes = {}
    for yaer in years_list:
        dataframes[yaer] = pd.read_csv(f'names/yob{yaer}.txt', names=['Name', 'Gender', 'Quantity'])
    for key, value in dataframes.items():
        dataframes[key] = value.groupby('Gender').sum()[['Quantity']]
    all_df = pd.concat(dataframes)
    return all_df.unstack('Gender').T
count_dinamics([1900, 1970, 2010])

                   1900     1970     2010
         Gender
Quantity F       299798  1748145  1775345
         M       150480  1859108  1916476